.firstPage{
    display: flex;
    flex-direction: row;
}
.loginSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: aquamarine;
}
.loginSection input{
    padding-left: 20px;
    width: 50%;
    height: 5%;
    margin: 10px auto;
}
.loginSection button{
    margin-top: 30px;
    width: 50%;
}
.imageSection{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}